.header {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding: 0 14px;
}

#contenedor {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 8px;
  padding-right: 0px;
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
}

#perfil-usuario {
  position: relative;
  width: 90px;
  border-radius: 0;
  display: flex;
  flex-direction: column;
}

#caja-historias {
  width: 100%;
  overflow-x: auto;
  white-space: nowrap;
  display: flex;
  flex-shrink: 0;
  margin-right: 10px;
  padding: 0 8px;
}
#caja-historias > div {
  flex: 0 0 auto;
  margin-right: 10px; /* Espacio entre cada div de historia */
}

#caja-icono-add {
  border-radius: 20px;
  position: absolute;
  bottom: 0;
  right: 0;
  height: 20px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(27, 149, 242);
  margin-top: -30%;
}

#caja-foto-live {
  border-radius: 2px;
  position: absolute;
  bottom: -5px;
  left: 35px;
  right: 0;
  height: 10px;
  width: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(255, 255, 255);
  margin-top: -20%;
}

.footer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  padding-left: 15px;
  padding-right: 15px;
  position: fixed;
  bottom: 0;
  width: 95%;
  padding: 5px;
  text-align: center;
}

.contenedor-post {
  background-color: gainsboro;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  padding: 0;
  overflow: scroll;
}

.cabecera-post {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 10px;
  background-color:white
}

.foto-perfil img {
  width: 35px;
  height: 35px;
  border-radius: 50%;
  margin-right: 10px;
}

.nombre-usuario p {
  font-size: 13px;
  font-weight: bold;
  color: #333;
  position: relative;
  right: 190px;
  bottom: 6px;
}

.nombre-location {
  font-size: 8px;
  font-weight: bold;
  color: #333;
  position: relative;
  right: 485px;
  top: 8px;
}

.icono-official {
  position: relative;
  right: 610px;
  bottom: 6px;
}

.imagen-post {
  
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
}

.img-post {
  width: 100%;
}
